/************************************ BODY *************************************/

:root {
  --color-toolbar-dark-color: #222222;
  --color-toolbar-light-color: #4a4a4a;
  --color-primary-color: #000000;
  --color-icon-green-color: #4bc800;
  --color-secondary-color: #ffffff;
  --color-red-color: #bd2814;
}

.background-primary {
  background-color: var(--color-primary-color);
}

.background-toolbar-dark {
  background-color: var(--color-toolbar-dark-color);
}

.background-toolbar-light {
  background-color: var(--color-toolbar-light-color);
}

.color-secondary {
  color: var(--color-secondary-color);
}

.color-icon-green {
  color: var(--color-icon-green-color);
}

.color-red {
  color: var(--color-red-color);
}

* {
  color: var(--color-secondary-color);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/************************************ NAVBAR *************************************/

#speaker-view {
  padding: 10px;
  height: 70px;
  /*ho dato un altezza fissa di 70px in modo da poter definire mediante cal un altezza certa del main. In questo modo, non potendosi allungare all'infinito in base al suo contenuto non potrà andare in overflow. Per questo, è stata inserita la classe overflow-y-auto che aggiungerà, all'evenienza, un barra di scorrimento laterale SOLAMENTE interna al main*/
}

#speaker-view div {
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
}

/******************************** MAIN *****************************************/

#app {
  width: 100%;
  height: 100vh;
}

/*All'applicazione abbiamo dato una dimensione per fare in modo che sia estesa come tutta la pagina*/

main {
  width: 80%;
  height: calc(100% - (20px + 20px) - 70px - 85px);
  margin: 20px auto;
}

.user {
  width: calc((100% - (6 * 10px)) / 7);
  aspect-ratio: 16 / 9;
  min-width: 300px;
}

.user-information {
  padding: 7px;
  left: 0;
  bottom: 0;
  background-color: var(--color-toolbar-light-color);
  opacity: 0.7;
}

/******************************** TOOLBAR *****************************************/

#toolbar {
  height: 85px;
  width: 100%;
}

.acquisition div,
.commands div {
  padding: 10px;
  cursor: pointer;
}

.recording {
  align-self: normal;
}